/* start variable */
:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
}
/* end variable */

/* start global rules */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

/*small*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/*large*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* end global rules */
/* start components */

.special-heading {
  text-align: center;
  margin-top: 100px;
}

.special-heading h2 {
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 70px;
  position: relative;
  text-transform: uppercase;
}

.special-heading h2:before {
  content: "";
  position: absolute;
  width: 120px;
  height: 3px;
  left: 50%;
  background-color: #333;
  bottom: -35px;
  transform: translateX(-50%);
}

.special-heading h2:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 2px solid #333;
  border-radius: 50%;
  bottom: -42.5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
}

.special-heading p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: #777;
}

/* start components */
/* start header */

header {
  position: absolute;
  left: 0px;
  width: 100%;
  z-index: 2;
}

header .container {
  position: relative;
  min-height: 97px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 15px;
  width: calc(100% - 30px);
  height: 1px;
  background-color: gainsboro;
}

header .menu-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
}

@media (min-width: 768px) {
  header .menu-icon {
    display: none;
  }
}

header .menu-icon__bar {
  width: 100%;
  height: 2px;
  background-color: white;
}

header ul {
  display: flex;
}

@media (max-width: 768px) {
  header ul {
    display: none;
  }

  header .menu-icon:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    padding: 15px;
    background-color: rgb(0 0 0 / 50%);
  }

  header .menu-icon:hover + ul li a {
    padding: 15px;
  }
}

header ul li a {
  display: block;
  padding: 40px 10px;
  color: white;
  font-size: 14px;
  transition: 0.3s;
  z-index: 3;
  position: relative;
}

header ul li a:hover,
header ul li a.active {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

header .search {
  width: 40px;
  height: 30px;
  display: flex;
  align-items: center;
  margin-left: 50px;
  justify-content: flex-end;
  border-left: 1px solid white;
}

header .search i {
  color: white;
  font-size: 20px;
}
/* end header */

/* start landing */
.landing {
  height: 100vh;
  background-image: url("../images/landing-background.jpg");
  background-color: burlywood;
  background-size: cover;
  background-color: black;
  position: relative;
}

.landing .landing__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 60%);
}

.landing .landing__text {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: var(--transparent-color);
  color: white;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .landing .landing__text {
    width: 100%;
  }
}

.landing .landing__text-content {
  max-width: 80%;
}

@media (max-width: 768px) {
  .landing .landing__text-content {
    width: 100%;
  }
}

.landing .landing__text-content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}

.landing .landing__text-content p {
  font-size: 14px;
  line-height: 2;
}

.landing .left-arrow,
.landing .right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  color: #ddd;
}

.landing .left-arrow {
  left: 30px;
}

.landing .right-arrow {
  right: 30px;
}

@media (max-width: 768px) {
  .landing .left-arrow,
  .landing .right-arrow {
    display: none;
  }
}

.landing__slider-counter {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.landing__slider-counter li {
  border: 2px solid white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.landing__slider-counter li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/* end landing */

/* start services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

@media (min-width: 768px) {
  .services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    column-gap: 40px;
    row-gap: 60px;
  }
}

.services .service-box {
  display: flex;
  gap: 40px;
}

@media (max-width: 768px) {
  .services .service-box {
    flex-direction: column;
    text-align: center;
    margin-bottom: 60px;
  }
}

.services .service-box i {
  font-size: 40px;
}

.services .service-box h3 {
  margin-bottom: 30px;
  color: var(--main-color);
}

.services .service-box p {
  line-height: 2;
  color: #777;
}
/* end services */

/* start design */
.design {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
  height: 600px;
  background-image: url("../images/landing-background.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.design::before {
  content: "";
  left: 0px;
  top: 0px;
  position: absolute;
  background-color: rgba(0, 0, 0, 60%);
  width: 100%;
  height: 100%;
}

.design .image,
.design .design-text {
  position: relative;
  z-index: 2;
  flex: 1;
}

@media (max-width: 768px) {
  .design .image {
    display: none;
  }
}

.design img {
  width: 400px;
  position: relative;
  top: 200px;
}

.design .design-text {
  color: white;
  padding: 50px;
  background-color: var(--transparent-color);
}

.design .design-text h3 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}

.design .design-text ul li {
  font-size: 14px;
  line-height: 2;
  padding-bottom: 15px;
  display: flex;
  gap: 20px;
}

.design .design-text ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\e163";
  font-weight: 900;
}

/* end design */ ;
